<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -BiCalendar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>

        .navbar {
            background-color: #119a97;
        }
        h1,h2,h3,h4{
            color:#428082;
        }
        #myTable a {
            text-decoration: none;
            color: forestgreen;
            font-weight: 200;
        }

            #myTable a:hover {
                text-decoration: none;
                color: forestgreen;
                font-weight: 600;
                text-decoration: underline;
                transition: step-end
            }

        .header {
            color: #009966;
            background-color: #54BEBA !important;
            opacity: 0.8;
        }

        th {
            font-weight: 550 !important;
        }

        #myTable {
      
    </style>

</head>


<body>
    <nav class=" navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            @Html.ActionLink("Bisiklet Yarış", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Profil", "Index", "Profile", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">
                        @if (this.User.IsInRole("Admin") || this.User.IsInRole("Premium"))
                        {
                            @Html.ActionLink("Yarış Oluştur", "Create", "Race",null, new { @class="nav-link" }) 
                        }</li>
                    @*<li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>*@ </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <footer style="margin-top:50px">

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
