
@model WebProje.ViewModels.ProfileCityViewModel
@{
    ViewBag.Title = "EditProfile";

}


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="~/Content/EditProfile.css"  />


<style>
    .tako {
        border-radius: 4px;
        box-shadow: none;
        height: 2.5rem;
        width: 100%;
        max-width: 280px;
        border-width: 1px;
        border-color: #e8e8e8;
        border-top-color: #a6e6e6;

    }
    .dosya {
        width:100px !important;
        margin-left:0px;
    }
    textarea{
        height:150px;
    }
</style>

<h2 class="baslik">Profili Düzenle</h2>

@using (Html.BeginForm("EditProfile", "Profile", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.UserDetail.Id)
    @Html.HiddenFor(model => model.UserDetail.UserId)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="row">


            <div class="col-6">
                <fieldset>
                    <div class="editor-label">
                        <img src="/Image/@Model.UserDetail.PhotoUrl" alt="Profil Foto" width="60%" height="300" style="margin-bottom:50px; margin-top:30px;" />       
                    </div>

                    @*<p><input type="submit" value="Create" /></p>*@
                </fieldset>
                
            @Html.HiddenFor(m=>m.UserDetail.PhotoUrl)
                
            
            
            
            
            </div>





            <div class="col-6">
                <div class="col-md-10">
                    <label>İsim</label>
                    @Html.TextBoxFor(m => m.UserDetail.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Soyad</label>

                        @Html.TextBoxFor(m => m.UserDetail.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Doğum Tarihi</label>
                        <br />
                        @Html.EditorFor(m => m.UserDetail.DateOfBirth, new { @class = "glyphicon glyphicon-calendar tako  " })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">

                        <label>Şehir</label>

                        @Html.TextBoxFor(m => m.UserDetail.Location, new { @class = "form-control",placeholder="Şehir/İlçe" })
                        @*@Html.DropDownListFor(m => m.UserDetail.CityId, Model.Cities, new { @class = "form-control" })  DROPDOWN HALİ*@

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label>Hakkında</label>

                        @Html.TextAreaFor(m => m.UserDetail.About, new { @class = "form-control" , rows="5"})
                    </div>
                </div>
            </div>

        </div>






        <div class="col-6" style="margin-top:-50px; ">
            <div class="form-group" style="margin-left:-20px;">
                <div class=" col-12">

                    


                    <div class="editUpload">
                        <div class="input-group ">

                            <div class="custom-file dosya">
                                <label class="custom-file-label" for="upload">Fotoğraf Seç</label>

                                <input type="file" class="custom-file-input " id="ImagePath" name="file" aria-describedby="upload" lang="tr">
                            </div>
                            <div class=" col-2">
                                <input type="submit" class="btn btn-info " value="Kaydet" />
                            </div>
                        </div>

                    </div>

                </div>





               
            </div>
        </div>
    </div>




}
