@model WebProje.Models.UserDetail
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/profile-index.css" rel="stylesheet" />
<h1 class="baslik">Profil Bilgilerim</h1>
<div class="row">
    <div class="col-md-6">

        <img src="/Image/@Model.PhotoUrl" alt="Profil Foto" width="60%" height="300" style="margin-bottom:50px;" />

    </div>




    <div class="col-md-6" style="margin-top:50px">
        <dl class="dl-horizontal">




            <dt>
                Kullanıcı Adı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
            <dt>
                Ad
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Soyad
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                Doğum Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                Şehir
            </dt>

            <dd>

                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                Hakkında
            </dt>
            <dd>

                @Html.DisplayFor(model => model.About)
            </dd>
        </dl>
    </div>
    <div class="col-5 ">

        <button class="btn btn-info">  @Html.ActionLink("Düzenle", "EditProfile", "Profile", htmlAttributes: new { @class = "link" })</button>

        <button class="btn btn-info"> @Html.ActionLink("Düzenlediğim yarışlar", "MyRaces", "Profile", routeValues: null, htmlAttributes: new { id = "eventLink", @class = "link" })</button>

        <button class="btn btn-info"> @Html.ActionLink("Yarışlarım", "MyRaceList", "Profile", routeValues: null, htmlAttributes: new { id = "myEventLink", @class = "link" })</button>



    </div>
</div>
