@model WebProje.Models.UserDetail
@{
    ViewBag.Title = "ProfileDetail";
}

<h2>ProfileDetail</h2>
<div>

    <dl class="dl-horizontal">
        <dt>
            Kullanıcı Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            Ad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Soyad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Doğum Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
       
        <dt>
            Hakkında
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>
    </dl>
</div>
