@model WebProje.Models.UserDetail
@{
    ViewBag.Title = "ProfileDetail";
}
<style>
   
        .row{
            margin-top:15%;
        }
        .container .img {
            text-align: center;
        }

        .container .details {
            border-left: 3px solid #ded4da;
        }

            .container .details p {
                font-size: 17px;
            }
</style>
<div class="row">
    <div class="col-md-6 img">
        @if(Model.PhotoUrl != null) { 
        <img src="/Image/@Model.PhotoUrl" alt="Profil Foto" width="60%" height="300px"  />
        }
    </div>
    <div class="col-md-4 details ">
        <blockquote>
            <h3>
                @Html.DisplayFor(model => model.User.UserName)
            </h3>
       <h6>Kişisel Bilgiler</h6>
             </blockquote>

        <p>
            <b>Ad:</b>            
            @Html.DisplayFor(model => model.Name)
        </p>
        <p>
            <b>Soyad:</b>             
            @Html.DisplayFor(model => model.LastName)
        </p>

        <p>
            <b>Doğum T:</b>            
            @Html.DisplayFor(model => model.DateOfBirth)
        </p>

        <p>
            <b>Şehir:</b>
             @Html.DisplayFor(model => model.Location)

        </p>
 
        <p>
            <b>Hakkında:</b>            
            @Html.DisplayFor(model => model.About)
        </p>




    </div>
</div>
@*<h2>ProfileDetail</h2>
<div>

    <dl class="dl-horizontal">
        <dt>
            Kullanıcı Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            Ad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Soyad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Doğum Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            Hakkında
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>
    </dl>
</div>*@
