@model WebProje.Models.Race
@{
    ViewBag.Title = "Detail";
}

@using (Html.BeginForm())
{
<ul>
    <li>
        @Html.DisplayFor(m => m.RaceName)
    </li>
    <li>
        @Html.DisplayFor(m => m.Date)
    </li>
    <li>
        @Html.DisplayFor(m => m.Time)
    </li>
    <li>
        @Html.DisplayFor(m => m.Category.CategoryName)
    </li>
    <li>
        @Html.ActionLink(Model.User.UserName, "ProfileDetail", "Profile", new { id = Model.User.Id }, null)
    </li>
    <li>
        @Html.ActionLink("Git", "Participate", "Race", new { id = Model.Id }, new { @class = "btn btn-success " })
    </li>
</ul>
}

