@model WebProje.ViewModels.RaceDateViewModel
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm("Update", "Race", new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-10">
            <label>Başlık</label>

            @Html.TextBoxFor(m => m.Race.RaceName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Tarih</label>
            <p></p>
            @Html.TextBoxFor(m => m.Date, new { @class = "datepicker" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Zaman</label>
            <p></p>
            @Html.EditorFor(m => m.Race.Time, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Kategori</label>
            @Html.DropDownListFor(m => m.Race.CategoryId, Model.Categories, new { @class = "form-control" })
        </div>
    </div>

    @*<div class="form-group">
            <div class="col-md-10">
                <label>Açıklama</label>

                @Html.TextBoxFor(m => m.Event.FinishLocation, new { @class = "form-control" })
            </div>
        </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Güncelle" />
        </div>
    </div>

}
@section scripts{
    <script>$('.datepicker').datepicker({ format: 'dd-mm-yyyy' });</script>

}
